body {
    background-color: #75a9c4;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    height: 100px;
  
    justify-content: space-between;
    align-items: center;
    background-color:  #caedfe;
    padding-inline: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
   
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
}

nav{
    display: flex;
    height: 100px;

    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;  
}


.menu{
    display: flex;
    width: 300px;
    height: 85px;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    background-color:  #a3aaad;
    border-radius: 10px;
    text-decoration: none;
   
}

article{
    display: flex;
}
   

.sidemenu{
        width: 20%; 
        background-color: black;
        box-sizing: border-box;
}

.rank{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

}

.photo{
    max-width: 100%;
    height: auto;
}
