body {
    background-color: #5BFAFC;
    font-family: Arial, sans-serif;
    color:black;
}

header {
    display: flex;
    height: 100px;
  
    justify-content: space-between;
    align-items: center;
    background-color:  #caedfe;
    padding-inline: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
   
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    color: #5B94FC;
    letter-spacing: 3px;
}

nav{
    display: flex;
    height: 100px;

    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;  
}


.menu{
    display: flex;
    width: 300px;
    height: 85px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color:  #5BFC92;
    border-radius: 10px;
    text-decoration: none;
   
}

.main{
    margin-right: 5px;
    MARGIN-LEFT: 10%;
}

article{
    display: flex;
}
   

.sidemenu{
    position: fixed;
    width: 9%;
}

.sidemenulist{
    display: block;
    height: 50px;
    border: 2px solid;
    align-items: center;
    justify-content: center;

    text-decoration:none;
    background-color: #5BFC92;
    margin-bottom: 5px;
}

.sidemenulist:hover{
    background-color: aqua;
}

.rank{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

}

.photo{
    width: 600PX;
    height: 800PX;
}

footer{
    text-align: right;
}

table{
    width: 100%;
    justify-content: space-between;
    border-collapse: collapse;
    margin: 5px;
}

th{
    border: 1px solid black;
    height: 50px;
    color: #5B94FC;
}

td{
    border: 1px solid black;
    text-align: center;
    height: 40px;
}

.Chiny{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/cn.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
}

.Malezja{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/my.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.US{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/us.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Emiraty{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/ae.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Arabia{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/sa.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Rosja{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/ru.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Korea{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/kr.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Tajwan{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/tw.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Wietnam{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/vn.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

.tekst{
    color:#5B94FC;
    font-size: 35px;
    font-family: Monserat, sans-serif;
    font-style: bold;
}