body {
    background: linear-gradient(190deg, #6DD5FA 0%, #2980B9 );
    font-family: Arial, sans-serif;
    color:black;
}

header {
    display: flex;
    height: 100px;
  
    justify-content: space-between;
    align-items: center;
    background-color:  #caedfe;
    padding-inline: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
   
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    color: #5B94FC;
    letter-spacing: 3px;
}

.zegarek{
    font-size: 16px;
    
}

nav{
    display: flex;
    height: 100px;

    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;  
}


.menu{
    display: flex;
    width: 300px;
    height: 85px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color:  #5BFC92;
    border-radius: 10px;
    text-decoration: none;
   
}

.main{
    margin-right: 5px;
    MARGIN-LEFT: 10%;
}

article{
    display: flex;
}
   

.sidemenu{
    position: fixed;
    width: 9%;
}

.sidemenulist{
    display: block;
    height: 50px;
    border: 2px solid;
    align-items: center;
    justify-content: center;

    text-decoration:none;
    background-color: #5BFC92;
    margin-bottom: 5px;
}

.sidemenulist:hover{
    background-color: aqua;
}

.rank{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

}

.photo{
    width: 600PX;
    height: 800PX;
}

footer{
    text-align: right;
}

table{
    width: 100%;
    justify-content: space-between;
    border-collapse: collapse;
    margin: 5px;
}

th{
    border: 1px solid black;
    height: 50px;
    color: #5B94FC;
}

td{
    border: 1px solid black;
    text-align: center;
    height: 40px;
}

.Chiny{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/cn.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
}

.Malezja{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/my.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.US{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/us.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Emiraty{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/ae.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Arabia{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/sa.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Rosja{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/ru.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Korea{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/kr.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Tajwan{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/tw.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Wietnam{
    background-image: url("../NajwiekszeBudynki/obrazy/w80/vn.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

.tekst{
    color:black;
    font-size: 35px;
    font-family: Monserat, sans-serif;
    font-style: bold;
    
}

.DoForm{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

form {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.Dane{
    display: grid;
    grid-template-columns: 150px 1fr;
    row-gap: 8px;
    align-items: center;
    width: 30%;
    
}

.form-group {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.formButt{
    display: flex;
    flex-wrap: wrap;
}

.Przycisk{
    padding: 12px 15px;
    text-align: center;
    width: 100%;
}

.mainNews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.Artc{
    border: 2px solid black;
    background-color:  #caedfe;
    display: flex;  
}

.photoOgl{
    width: 500px;
    height: 500px;
}

.Nag{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #5B94FC;
}


.biura_architekci{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 10%;
}

.najwiekszy{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0%;
}

.poznaj{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 2%;
}
.Architekci{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0%;
}

.poznajArchitekci{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 2%;

}

.form-group.error input{
    border-color: red;
}
.form-group .error {
    color: red;
    font-size: 9px;
    height: 13px;
}
